#sinopsis {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sinopsis-bg {
    position: absolute;
    width: 55vw;
    left: 5vh;
    top: 20vh;
}

.sinopsis-content {
    margin-right: 5vw;
    padding-bottom: 10vh;
    width: 55%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.sinopsis-title {
    color: var(--yellow);
    font-size: 54px;
    font-family: var(--spirax);
}

.sinopsis-description {
    font-size: 22px;
    font-family: var(--poppins);
}

@media screen and (max-width: 768px) {
    .sinopsis-title {
        font-size: 30px;
    }

    .sinopsis-content {
        width: 90%;
        padding-bottom: 0;
        justify-content: center;
    }

    .sinopsis-bg {
        width: 90vw;
        left: 0;
        top: 5vh;
    }

    .sinopsis-description {
        font-size: 12px;
    }

}