#video {
    padding-top: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    overflow-y: visible;
    z-index: 1;
}

.video-title {
    color: var(--yellow);
    font-size: 54px;
    font-family: var(--spirax);
}

.video-vid {
    background-color: white;
    width: 75%;
    height: 70vh;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .video-title {
        font-size: 30px;
    }

    .video-vid {
        width: 80%;
        height: 20vh;
    }
}