#navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: var(--navbar-height);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    padding: var(--navbar-padding) 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    font-family: var(--spirax);
    font-weight: 100;
    font-style: normal;
    font-size: 2rem;
    cursor: pointer;
}

.navbar-link {
    font-family: var(--poppins);
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    cursor: pointer;
    
}

.navbar-title:hover {
    color: var(--yellow);
    text-decoration: underline;
}

.navbar-link:hover {
    color: var(--yellow);
    text-decoration: underline;

}

@media screen and (max-width: 768px) {
    #navbar {
        height: 10vh;
    }
    
    .navbar-title {
        font-size: 20px;
    }

    .navbar-link {
        font-size: 12px;
    }
    
}