#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navbar-height);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-content {
    width: 50%;
    padding: var(--navbar-padding) 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    font-family: var(--spirax);
    font-weight: 100;
    font-style: normal;
    font-size: 29px;
    /* cursor: pointer; */
}

.navbar-link {
    font-family: var(--poppins);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    /* cursor: pointer; */
}

.navbar-title:hover {
    color: var(--yellow);
}

.navbar-link:hover {
    color: var(--yellow);
}