#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: transparent;
    z-index: 2;
}

.navbar-content {
    width: 50%;
    padding: var(--navbar-padding) 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    font-family: var(--spirax);
    font-weight: 100;
    font-style: normal;
    font-size: 29px;
    cursor: pointer;
}

.navbar-link {
    font-family: var(--poppins);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
}