* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    z-index: 1;
}

*::-webkit-scrollbar {
    display: none;
}


:root {
    --yellow: #FFDF00;

    --navbar-height: 15vh;
    --navbar-padding: 5vh;

    --spirax: "Spirax", system-ui;
    --poppins: "Poppins", sans-serif;
}

.root {
    background-color: black;
}

.page {
    width: 100vw;
    height: 100vh;
    padding-top: calc(var(--navbar-height) + var(--navbar-padding));
    background-color: black;
}

@media screen and (max-width: 768px) {
    .page {
        padding-top: 0;
        height: 50vh;
    }
    
}